@media (min-width: 768px) {
    div h1 {
        font-size: 80px;
        margin: 40px;

    }
    div .tittle{
        font-size: 35px;
    }
    div h1::after {
    content: '';
    position: absolute;
    top: 140px;
    left: 40%;
    width: 20%;
    height: 2%;
    }
}